<h2><%= @room.title %></h2>

<%= image_tag @room.image(:large) %>
<%= image_tag @room.image(:thumbnail) %>

<p><%= @room.address %></p>

<p><%= @room.latitude %> <%= @room.longitude %></p>


<% if current_user.present? %> 

<div class="actions">
	
		<%= link_to "Book room", new_room_order_path(@room), class: "button" %>

		<% if current_user == @room.user %>

		<%= link_to "Edit", edit_room_path(@room), class: "button:" %>
		<%= link_to "Delete", room_path(@room), method: :delete, class: "button", confirmation: "Are you sure?" %>

		<% end %>

	</div>

<% end %>